<footer class="js-sticky-footer">
    <hr>
    <div class="container text-center-small">
        <div id="nav-footer"></div>

        <div class="row row-start-small">
            <div class="grid-half">
                <p><a href="https://www.biogen.com"><img width="160" src="https://developer.biogen.com/files/logo.svg"></a></p>
            </div>
            <div class="grid-half text-right-large">
                <p><a target="_blank" href="http://www.mashery.com/"><img alt="Made by Mashery" src="/public/Mashery/images/masherymade.png"></a></p>
            </div>
        </div>
        <p class="text-small text-muted">&copy; <script>document.write(new Date().getFullYear())</script>. All rights reserved.</p>
    </div>
</footer>