<footer class="padding-top padding-bottom js-sticky-footer">
    <hr>
    <div class="container">
        <div class="row text-small">
            <div class="grid-two-thirds">
                <div class="link-plain" id="nav-footer"></div>
            </div>
            <div class="grid-third text-right-large">
                <p>&copy; <script>document.write(new Date().getFullYear())</script> TUI AG</p>
            </div>
        </div>

        <p><a target="_blank" href="http://www.mashery.com/"><img alt="Made by Mashery" src="/public/Mashery/images/masherymade.png"></a></p>
    </div>
</footer>